<!-- Header -->
<header id="header">
	<!-- Top -->
	<div class="header-top">
		<div class="container">
			<ul class="contact">
				<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +49 (0) 612 2932 9833</a></li>
				<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@greiff-ag.de</a></li>
			</ul>	
		</div>
	</div><!-- /Top -->

	<!-- Menu -->
	<menu id="menu">
		<div class="container">
			<div id="company">
				<%= image_tag("01.png") %>
			</div>
			<span class="submenu">SELECT MENU</span>
			<ul class="menu">
				<li><a href="/" class="active">paragon</a></li>
				<li><a href="#">unternehmen</a></li>
				<li><a href="/team">team</a></li>
				<li><a href="#">medien</a></li>
				<li><a href="#">ratings</a></li>
			</ul>
		</div>
	</menu> <!-- /Menu -->
</header><!-- /Header -->

<!-- Content -->
<main id="content">
	<!-- Content-top -->
	<section class="content-top">
		<div class="container">
			<h1>PARAGON - Team</h1>
		</div>
	</section> <!-- /Content-top -->

	<!-- Content-main -->
	<section id="content-main">
		<div class="container">
			<div class="row">
				<!-- Content-left -->
				<div id="content-left" class="col-sm-7">
					<div class="child">
						<h3>Anlagepolitik</h3>
						<p>Notice If your application is using breadcrumbs-on-rails you will have a namespace collision with the add_breadcrumb method. For this reason if breadcrumbs-on-rails is detected in Gemfile gem methods will be accessible using boostrap prefix, i.e. render_bootstrap_breadcrumbs and add_bootstrap_breadcrumb

						However if there are some breadcrumbs-on-rails features you need to keep you can.</p>
					</div>
					<div class="child">
						<h3>Anlagepolitik</h3>
						<p>Notice If your application is using breadcrumbs-on-rails you will have a namespace collision with the add_breadcrumb method. For this reason if breadcrumbs-on-rails is detected in Gemfile gem methods will be accessible using boostrap prefix, i.e. render_bootstrap_breadcrumbs and add_bootstrap_breadcrumb

						However if there are some breadcrumbs-on-rails features you need to keep you can render_bootstrap_breadcrumbs and add_bootstrap_breadcrumb.</p>
					</div>
				</div> <!-- /Content-left -->

				<!-- Content-right -->
				<div id="content-right" class="col-sm-4 col-sm-offset-1">
					<div class="content-menu">
						<h3>Dokumente</h3>
						<div class="child">
							<h6 class="title-menu">Factsheets 1 - Share</h6>
							<ul class="menu">
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
							</ul>
						</div>
						<div class="child">
							<h6 class="title-menu">Factsheets R - Share</h6>
							<ul class="menu">
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
							</ul>
						</div>
						<div class="child">
							<h6 class="title-menu">Pflichtpublikationen</h6>
							<ul class="menu">
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
								<li><a href="#" title="">Anlagepolitik</a></li>
							</ul>
						</div>
					</div>
					<div class="content-contact">
						<h3>Kontakt</h3>
						<div class="row">
							<ul class="contact">
								<li>
									<a href="#" title="">
										<span class="col-sm-3">Telefon:</span>
										<span class="col-sm-9">+49 (0) 761/ 76 76 950</span>
									</a>
								</li>
								<li>
									<a href="#" title="">
										<span class="col-sm-3">E-Mail:</span>
										<span class="col-sm-9">info@greiff-ag.de</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- /Content-right -->
			</div>
		</div>
	</section> <!-- /Content-main -->
</main> <!-- /Content -->

<!-- Footer -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<ul>
				<li><a href="#"><%= image_tag("footer-1.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-2.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-3.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-4.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-5.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-6.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-7.png") %></a></li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12 bottom-left">
					<div class="title">
						<p>
							Greiff Capital Management AG 
						</p>
					</div>
					<div class="address">
						<p>
							Monzinger Strabe 5a
						</p>
						<p>
							79111 Freiburg im Breisgau
						</p>
					</div>
					<div class="contact">
						<div class="child">
							<div class="col-1">Tel.:</div>
							<div class="col-11">+49 (0) 761 / 76 76 950</div>
						</div>
						<div class="child">
							<div class="col-1">Fax:</div>
							<div class="col-11">+49 (0) 761 / 76 76 9559</div>
						</div>
						<div class="child">
							<div class="col-1">Mail:</div>
							<div class="col-11">info@greiff-ag.de</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 bottom-right">
					<ul>
						<li>
							<a href="#" title="">
								> Halbjahresbericht
							</a>
						</li>
						<li>
							<a href="#" title="">
								> Jahresbericht
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer> <!-- /Footer -->
