<!-- Header -->
<header id="header">
	<!-- Top -->
	<div class="header-top">
		<div class="container">
			<ul class="contact">
				<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +49 (0) 612 2932 9833</a></li>
				<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@greiff-ag.de</a></li>
			</ul>	
		</div>
	</div><!-- /Top -->

	<!-- Menu -->
	<menu id="menu">
		<div class="container">
			<div id="company">
				<%= image_tag("01.png") %>
			</div>
			<span class="submenu">SELECT MENU</span>
			<ul class="menu">
				<li><a href="/">paragon</a></li>
				<li><a href="#">unternehmen</a></li>
				<li><a href="/team" class="active">team</a></li>
				<li><a href="#">medien</a></li>
				<li><a href="#">ratings</a></li>
			</ul>
		</div>
	</menu> <!-- /Menu -->
</header><!-- /Header -->

<!-- Content -->
<main id="content">
	<!-- Content-top -->
	<section class="content-top">
		<div class="container">
			<h1>PARAGON - Team</h1>
		</div>
	</section> <!-- /Content-top -->

	<!-- Content-main -->
	<section id="content-main">
		<div class="container">
			<div class="product-child">
				<h1 class="title">Geschäftsleitung</h1>
				<div class="row">
					<ul>
						<li class="col-sm-4">
							<%= image_tag("img1.jpg") %>
							<h3>Henning von Issendorff</h3>
							<h6>CEO</h6>
							<p>Bevor Henning von Issendorff die Tungsten Capital Management GmbH gründete, war er Partner bei der global agierenden Hedgefonds-Gesellschaft Ferox Capital Management…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">hvi@tungsten-funds.com</a>
								<p>+49 69 710 426 700</p>
							</div>
						</li>
						<li class="col-sm-4">
							<%= image_tag("img2.jpg") %>
							<h3>Lutz Klaus</h3>
							<h6>CIO</h6>
							<p>Lutz Klaus wechselte von der Mayfair <br> Vermögensverwaltung, dem renommierten Family Office der Herz (Tchibo) Familie, als Partner und Geschäftsführer…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">Lk@tungsten-funds.com</a>
								<p>+49 69 710 426 789</p>
							</div>
						</li>
						<li class="col-sm-4">
							<%= image_tag("img3.jpg") %>
							<h3>Mathias Lechner</h3>
							<h6>COO</h6>
							<p>Bevor Mathias Lechner zu einem Multi Family Office in München wechselte und dort für die Betreuung von Family-Office-Mandaten und das Kundenreporting zuständig war, verantwortete er bei einer…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">mal@tungsten-funds.com</a>
								<p>+49 69 710 426 700</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="product-child">
				<h1 class="title">Portfoliomanagement</h1>
				<div class="row">
					<ul>
						<li class="col-sm-4">
							<%= image_tag("img5.jpg") %>
							<h3>Michael Günther</h3>
							<h6>Portfolio Manager</h6>
							<p>Michael Günther ist einer der zwei Fondsmanager des Tungsten TRYCON Basic Invest HAIG. Sein Schwerpunkt ist neben dem Portfolio Management die Programmierung und Weiterentwicklung…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">mg@tungsten-funds.com</a>
								<p>+49 69 710 426 700</p>
							</div>
						</li>
						<li class="col-sm-4">
							<%= image_tag("img6.jpg") %>
							<h3>Florian Hach</h3>
							<h6>Portfolio Manager</h6>
							<p>Florian Hach ist der zuständige Fondmanager für den 3.14 Tungsten Long Short Fund. Bevor er zu Tungsten kam, war er Mit-Gründer und CEO der ehedge AG, einer Plattform für Hedge Fund Strategien…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">fh@tungsten-funds.com</a>
								<p>+49 69 710 426 789</p>
							</div>
						</li>
						<li class="col-sm-4">
							<%= image_tag("img7.jpg") %>
							<h3>Pablo Hess</h3>
							<h6>Portfolio Manager</h6>
							<p>Pablo Hess ist einer der zwei Fondsmanager des Tungsten TRYCON Basic Invest HAIG. Sein Schwerpunkt ist neben dem Portfolio Management das Research und die (Weiter-)Entwicklung…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">mal@tungsten-funds.com</a>
								<p>+49 69 710 426 700</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="product-child">
				<h1 class="title">Sales/Marketing</h1>					
				<div class="row">
					<ul>
						<li class="col-sm-4">
							<%= image_tag("img8.jpg") %>
							<h3>Gerhard Sahl</h3>
							<h6>Director Sales</h6>
							<p>Während seiner Langjährigen Karriere in der Finanzindustrie hat Gerhard Sahl in diversen Positionen Verantwortung für das internationale institutionelle Kundengeschäft getragen…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">mg@tungsten-funds.com</a>
								<p>+49 69 710 426 700</p>
							</div>
						</li>
						<li class="col-sm-4">
							<%= image_tag("img9.jpg") %>
							<h3>Diana Nguyen</h3>
							<h6>Marketing</h6>
							<p>Diana Nguyen studierte Betriebswirtschaftslehre an der Universität zu Köln . Während ihrer Arbeit bei verschiedenen Werbeagenturen in Bonn und Köln sammelte Sie Erfahrungen im Bereich…</p>

							<a href="#" title="">Weiterlesen</a>
							<div class="contact">
								<a href="#">fh@tungsten-funds.com</a>
								<p>+49 69 710 426 789</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section> <!-- /Content-main -->
</main> <!-- /Content -->

<!-- Footer -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<ul>
				<li><a href="#"><%= image_tag("footer-1.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-2.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-3.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-4.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-5.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-6.png") %></a></li>
				<li><a href="#"><%= image_tag("footer-7.png") %></a></li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12 bottom-left">
					<div class="title">
						<p>
							Greiff Capital Management AG 
						</p>
					</div>
					<div class="address">
						<p>
							Monzinger Strabe 5a
						</p>
						<p>
							79111 Freiburg im Breisgau
						</p>
					</div>
					<div class="contact">
						<div class="child">
							<div class="col-1">Tel.:</div>
							<div class="col-11">+49 (0) 761 / 76 76 950</div>
						</div>
						<div class="child">
							<div class="col-1">Fax:</div>
							<div class="col-11">+49 (0) 761 / 76 76 9559</div>
						</div>
						<div class="child">
							<div class="col-1">Mail:</div>
							<div class="col-11">info@greiff-ag.de</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 bottom-right">
					<ul>
						<li>
							<a href="#" title="">
								> Halbjahresbericht
							</a>
						</li>
						<li>
							<a href="#" title="">
								> Jahresbericht
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer> <!-- /Footer -->